@import "bootswatch.lessimport";
@import "bootstrap/bootstrap.lessimport";

@media (min-width: 980px) {
    body {
        padding-top: 50px;
    }
}

.game {
    padding: 10px 0;
    border-bottom: 1px dashed #888;
    cursor: pointer;
}

.player {
    display: inline-block;
    padding: 10px;
}

.gm {
    display: inline-block;
    padding: 10px;
}

blockquote {
    border-left: none;
    &:before {
        font-family: 'FontAwesome';
        content: '\f10d';
    }
}
