<template name="editableSheet">
<div class="container-fluid">
  {{#with sheet}}
  <div class="row-fluid">
    <div class="span12">
      <button class="btn">
        <i class="icon-level-up"></i>

        {{game.name}}
      </button>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <input type="text" name="name" value="{{name}}" placeholder="name">
    </div>
  </div>
  {{#each stats}}
  {{>editableStat}}
  {{/each}}
  <div class="row-fluid">
    <div class="span12">
      <div class="input-append">
        <input type="text" name="skill" data-provide="typeahead" data-source="{{{statList}}}" placeholder="Skill" autocomplete="off" autofocus="autofocus">
        <button class="btn btn-primary">
          <i class="icon-plus"></i>
        </button>
      </div>
    </div>
  </div>
  {{/with}}
</div>
</template>
