<template name="editableStat">
<div class="row-fluid">
  <div class="span2">
    {{label}}
  </div>
  <div class="span1">
    <div class="btn-group">
      <button class="btn btn-small{{active shade 'B'}}" data-shade="B">B</button>
      <button class="btn btn-small{{active shade 'G'}}" data-shade="G">G</button>
      <button class="btn btn-small{{active shade 'W'}}" data-shade="W">W</button>
    </div>
  </div>
  <div class="span8">
    <div class="btn-group">
      <button class="btn btn-small{{active exponent '1'}}" data-exponent="1">1</button>
      <button class="btn btn-small{{active exponent '2'}}" data-exponent="2">2</button>
      <button class="btn btn-small{{active exponent '3'}}" data-exponent="3">3</button>
      <button class="btn btn-small{{active exponent '4'}}" data-exponent="4">4</button>
      <button class="btn btn-small{{active exponent '5'}}" data-exponent="5">5</button>
      <button class="btn btn-small{{active exponent '6'}}" data-exponent="6">6</button>
      <button class="btn btn-small{{active exponent '7'}}" data-exponent="7">7</button>
      <button class="btn btn-small{{active exponent '8'}}" data-exponent="8">8</button>
      <button class="btn btn-small{{active exponent '9'}}" data-exponent="9">9</button>
      <button class="btn btn-small{{active exponent '10'}}" data-exponent="10">10</button>
    </div>
  </div>
</div>
</template>

