<template name="gameItem">
<div class="row-fluid game">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12">
        <h4>{{name}}</h4>
      </div>
    </div>
    <div class="row-fluid">
      <div class="gm inline-block">
        <div class="label label-important">GM</div>
        {{gm.name}}
        {{#if owner}}(You){{/if}}
      </div>
      {{#each players}}
      <div class="player inline-block">
        <div class="label label-info">Player</div>
        {{name}}
      </div>
      {{/each}}
    </div>
  </div>
</div>
</template>
