<template name="game">
{{#with game}}
<div class="container-fluid">
  {{#if owner}}
    {{>controls}}
  {{else}}
    {{#if canJoin}}
      <div class="row-fluid">
        <div class="well">
          <div class="btn-group">
            <button class="btn" data-action="join-game">Join Game</button>
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}
  {{#if test}}
    {{>test}}
  {{/if}}
  <div class="row-fluid">
    <div class="span6">
      <h3>Players</h3>
      {{#each pcs}}
        {{>sheet}}
      {{/each}}
    </div>
    <div class="span6">
      <h3>NPCs</h3>
      {{#each sheets}}
      {{>sheet}}
      {{/each}}
      {{#if owner}}
      <div class="row-fluid">
        <button class="btn" data-action="add-sheet">Add NPC</button>
      </div>
      {{/if}}
    </div>
  </div>
</div>
{{/with}}
</template>
