<template name="sheet">
<div class="well">
  <div class="row-fluid">
    <div class="span12">
      {{#if name}}
        {{name}}
      {{else}}
        No name
      {{/if}}
      {{#if owner}}
      <a class="pull-right" href="/sheets/{{_id}}">
        edit
      </a>
      {{/if}}
    </div>
  </div>
  {{#if stats}}
  <div class="row-fluid">
    <div class="span12{{#if owner}} owner{{/if}}">
      {{#each stats}}
        {{>stat}}
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{#if skills}}
  <div class="row-fluid">
    <div class="span12{{#if owner}} owner{{/if}}">
      {{#each skills}}
        {{>stat}}
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{#if learning}}
  <div class="row-fluid">
    <div class="span12{{#if owner}} owner{{/if}}">
      {{#each learning}}
      {{>stat}}
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>
</template>

<template name="stat">
<div class="stat">
  <b>{{label}}</b>
  {{#if training}}
    *
  {{else}}
    {{shade}}{{exponent}}
  {{/if}}
</div>
</template>
