<template name="sheet">
<div class="well">
  <div class="row-fluid">
    <div class="span12">
      {{#if name}}
        {{name}}
      {{else}}
        No name
      {{/if}}
      {{#if owner}}
      <a class="pull-right" href="/sheets/{{_id}}">
        edit
      </a>
      {{/if}}
    </div>
  </div>
  {{#if stats}}
  <div class="row-fluid">
    <div class="span12{{#if owner}} owner{{/if}}">
      {{#each stats}}
        {{>stat}}
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{#if skills}}
  <div class="row-fluid">
    <div class="span12{{#if owner}} owner{{/if}}">
      {{#each skills}}
        {{>stat}}
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{#if learning}}
  <div class="row-fluid">
    <div class="span12{{#if owner}} owner{{/if}}">
      {{#each learning}}
      {{>stat}}
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>
</template>

<template name="stat">
<div class="stat">
  <b>{{label}}</b>
  {{#if training}}
    *
  {{else}}
    {{shade}}{{exponent}}
  {{/if}}
</div>
</template>

<template name="editableStat">
    <select name="shade" class="input-small">
        <option {{selected shade 'B'}} value="B">B</option>
        <option {{selected shade 'G'}} value="G">G</option>
        <option {{selected shade 'W'}} value="W">W</option>
    </select>
    <select name="exponent" class="input-small">
        <option {{selected exponent 1}} value="1">1</option>
        <option {{selected exponent 2}} value="2">2</option>
        <option {{selected exponent 3}} value="3">3</option>
        <option {{selected exponent 4}} value="4">4</option>
        <option {{selected exponent 5}} value="5">5</option>
        <option {{selected exponent 6}} value="6">6</option>
        <option {{selected exponent 7}} value="7">7</option>
        <option {{selected exponent 8}} value="8">8</option>
        <option {{selected exponent 9}} value="9">9</option>
        <option {{selected exponent 10}} value="10">10</option>
    </select>
</template>
