<template name="test">
{{#with test}}
  <div class="row-fluid">
    <div class="span12">
      <form class="form-inline">
        {{#each pcs}}
          <label class="radio">
            <input type="radio" name="pc" value="{{_id}}">
            {{name}}
          </label>
        {{/each}}
        <input type="text" name="skill" data-provide="typeahead" data-source="{{{statList}}}" placeholder="Skill" autocomplete="off" autofocus="autofocus">
        <label>
          Ob
          <select name="exponent" class="input-small">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </label>
        <button class="btn" type="submit" disabled="disabled">Set</button>
        <button class="btn" data-action="cancel"><i class="icon-remove"></i></button>
      </form>
    </div>
  </div> 
{{/with}}
</template>
